#dcs-elementor-speed-results {
    display: none;
    position: fixed;
    height: calc( 100vh - 32px );
    right: 0;
    top: 32px;
    width: 20vw;
    border-left: 1px solid black;
    background: #fff;
    z-index: 100000;
    padding: 2rem 2rem 2rem 4rem;
    overflow: scroll;
}

#dcs-elementor-speed-results hr {
        height: 0px;
        border-width: 0px;
        border-top: 1px solid black;
        margin-bottom: 2rem;
}

.dcs-elementor-render-time-result i {
    font-size: 20px;
    position: absolute;
    left: -42px;
    top: 5px;
}

.widget-result {
    position: relative;
}

#dcs-elementor-speed-results li a {
    text-decoration: underline;
}

#dcs-elementor-speed-results .widget-result {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

#dcs-elementor-speed-results ul {
    padding: 1rem 0;
}

#dcs-elementor-speed-results ul li {
    font-size: 0.8rem;
    list-style-type: none;
}

.speed-xx-slow {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}

.speed-x-slow {
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 2px 5px;
}

.speed-slow {
    color: white;
    background-color: #dcc429;
    border-radius: 5px;
    padding: 2px 5px;
}

.dcs-ele-speed-container {

}

.dcs-ele-speed-container-stats {
    position: absolute;
    background: black;
    color: white;
    font-size: 11px;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 99;
    padding: 0.8rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.dcs-speed-container-selected {
    border: 5px solid yellow !important;
}

.dcs-ele-speed-container-stats:hover {
    opacity: 1;
    z-index: 9999;
}

/* Admin Bar */
#wpadminbar #wp-admin-bar-elementor_widget_inspector, #wpadminbar #wp-admin-bar-elementor_widget_inspector .ab-item {
    cursor: pointer;
    user-select: none;
}

#wpadminbar #wp-admin-bar-elementor_widget_inspector>.ab-item::before {
    content: "\f469";
    top: 2px;
}

/* Toggle */
.elementor.widget-inspector-active-resize-elementor {
    max-width: 80vw;
}

.widget-inspector-active-show-sidebar {
    display: block !important;
}

/* JSON settings */

.dcs-elementor-speed-results-active-settings {
    display: none;
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    overflow: auto;
    font-size: 0.8rem;
    max-height: 300px;

}

.show-active-settings {
    display: block;
}
  